body {
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #2D2D2D;
    display: flex;
    flex-direction: column;
}

footer > p {
    color: white;
    text-align: center;
    margin-top: 30px;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 50px;
    float: left;
    margin: 10px 10px 10px 20px;
    height: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
}

.top-left h3 {
    text-align: justify;
    margin-left: 80px;
    margin-top: 10px;
}

.top-right {
    float: right;
    margin-top: 12px;
    margin-right: 240px;
    font-weight: 500;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
}

li a:hover {
    background-color:lightgrey;
}

/*beranda*/
.bannerberanda {
    width: 100%;
    height: 700px;
    position: relative;
    margin-top: -8px;
    text-align: center;
    margin-bottom: 80px;
}

.bannerberanda > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.bannerberanda > .teks1, .teks2, h1 {
    text-shadow: 5px;
}

.teks1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -190%);
    color:white;
    font-size: 45px;
}

.teks2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
    color:white;
    font-size: 30px;
}

.bannerberanda > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    color:white;
    font-size: 50px;
    font-family: ;
}

.deskripsi {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.teks {
    flex-direction: column;
    display: flex;
    margin-left: 45px;
}

.teks > h2 {
    margin-top: 20px;
}

.teks > p {
    text-align: justify;
    font-size: 16px;
    margin-right: 47px;
    line-height: 2;
}

.deskripsi > img {
    width: 1000px;
    height: 500px;
    border-radius: 25px;
    margin-left: 47px;
}

.lokasi {
    display: flex;
    flex-direction: column;
}

.lokasi > h2 {
    text-align: center;
    justify-content: center;
    position: relative;
    margin-top: 100px;
}

.lokasi > .alamat, .namajln, .katakanpeta {
    margin-left: 210px;
}

.lokasi > .namajln, .katakanpeta {
    margin-top: -15px;
}

.link {
    text-decoration: none;
    color: blue;
}

.peta {
    display: flex;
    justify-content: right;
}

iframe {
    width: 55%;
    height: 430px;
    position: relative;
    margin-bottom: 100px;
    margin-top: -90px;
    border-radius: 25px;
    margin-right: 130px;
}

/*tentang kami*/
.top-page {

}

.utama {
    display: flex;
    flex-direction: column;
}

.siapa > h3 {
    border-bottom: 2px solid black;
    margin: 34px 100px 0px 100px;
    padding-bottom: 9px;
}

.siapa > p {
    margin: 3px 100px 0px 100px;
}

.siapa, .visi, .misi, .anggota {
    margin-top: 35px;
}

.visi > h3 {
    border-bottom: 2px solid black;
    margin: 34px 100px 0px 100px;
    padding-bottom: 9px;
}

.visi > li {
    margin: 3px 100px 0px 100px;
}

.misi > h3 {
    border-bottom: 2px solid black;
    margin: 34px 100px 0px 100px;
    padding-bottom: 9px;
}

.misi > li {
    margin: 3px 100px 0px 100px;
}

.anggota > h3 {
    border-bottom: 2px solid black;
    margin: 34px 100px 0px 100px;
    padding-bottom: 9px;
}

.anggota

/*warta*/
.bannerwarta {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: -8px;
}

.bannerwarta > img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-top: -8px;
    object-position: 0 50%;
}

.bannerwarta > h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 25px;
    text-align: center;
}

.kontener {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.isiwarta img {
    width: 200px;
    height: 280px;
}

.isiwarta a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.isiwarta {
    display: inline-block;
    width: 200px;
    height: 350px;
    background-color: white;
    text-align: center;
    box-shadow: 1px 1px 10px 4px lightgray;
}

/*kegiatan*/
.bannerkegiatan {
    width: 100%;
    height: 280px;
    position: relative;
    margin-top: -8px
}
